<h1>Pages#home</h1>

<!DOCTYPE html>
<html>
  <head>
<title> TITLE </title>
<%= csrf_meta_tag %>
  </head>
  <body>
<div class="container"> 
<header>
<nav class="round">
<ul>
<li><%= link_to "Home", '#' %></li> 
<% if signed_in? %>
		<li><%= link_to "Sign out", signout_path, :method => :delete %></li> 
<% else %>
		<li><%= link_to "Sign in", signin_path %></li>
<% end %>
</ul> 
</nav>
</header>
<section class="round">
<%= yield %> 
</section>
    </div>
<h1>Sign in</h1>
</p>
<%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>
  </body>
</html>

